* {
    box-sizing: border-box;
}
body {
    background-color: #172A3A;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    font-family: 'Fascinate', cursive;
    background-image: url(http://www.astroeder.com/rimg/92/356_1239_609a3cd2_ic1805nb_ederL.jpg);
}
header {
    display: flex;
    align-items: center;
    color: silver
}

body section {
    color: silver;
    text-align: center;
}

h1 {
    margin-left: 20px;
}

ul {
    display: flex;
    flex-flow: row wrap;
}

li {
    color: black;
    background-color: darkgrey;
    width: 40%;
    max-width: 180px;
    font-size: .75em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    margin: 10px;
    list-style: none;
    font-family: 'Fascinate', cursive;
    transition:  background .2s linear;
}

li h2 {
    flex-shrink: 2;
}

li img {
    display: block;
    width: 100%;
    padding-bottom: 5px;
}

li:hover {
    background: gray;
}

#form {
    text-align: right;
}

.hidden {
    display: none;
}

#prompt {
    text-align: right;
    color: white;
    margin-right: 10px;
    letter-spacing: .1em;
    text-shadow: 0 0 2em rgb(255, 187, 0);
}